@charset "utf-8";
/* CSS Document */

.navbar	{	
	display: block;
	padding: 14px;
	background-color: #FFFFFF;
	text-indent: 16px;
	list-style: none;
	position: relative;
	top: 20px;
	margin-right: 30px;
	
}

.navbar a{
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	left: 40px;
	position: absolute;
	margin-left: -20px;

}


.transparent_btn {
	left: 50vw;
	transform: translateX(-50%);
	font-family: 'Raleway', sans-serif;
	margin-top: 450px;
	display: block;
	position: absolute;
	padding: 10px 14px;
	color: #000000;
	border: 1px solid #000000;
	text-decoration: none;
	font-size: 44px;
	line-height: 120%;
	background-color: rgba(255,255,255, 0);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color 300ms ease;
	-moz-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	cursor: pointer;
	top: -20vh;
}
.transparent_btn:hover {
	background-color:black;
	color: #FFFFFF;
}
	


	